@font-face {
  font-family: "Alibaba";
  src:
    url('../fonts/alibaba-black.woff2') format('woff2');
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba";
  src:
    url('../fonts/alibaba-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba";
  src: 
    url('../fonts/alibaba-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Alibaba', sans-serif;
  /* Set fallback fonts in case the custom font fails to load */
}


.rounded-image {
  border-radius: 50%;
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
  text-align: center;
}

.centered-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}